.dart_tool/
.tools/
.packages
.pub-cache/
.pub/
build/
coverage/
.env
.env.*
!.env.example
*.jks
*.keystore
android/key.properties
android/local.properties
*.db
*.db-shm
*.db-wal
*.sqlite
.flutter-plugins
.flutter-plugins-dependencies
